html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $base-bg-color;
  color: $base-color;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ol,
ul {
  list-style: none;
}

a {
  transition: color 0.1s linear;
  color: #2980b9;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: #20638f;
  }
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
