@import 'styles/utilities';

.table-row {
  display: block;
  padding: rem(30) rem(12);
  border-top: rem(2) solid #efefef;

  &:last-child {
    border-bottom: rem(2) solid #efefef;
  }

  @media(min-width: 600px) {
    display: table-row;
    padding: 0;
    border-bottom: rem(2) solid #efefef;
  }

  &:nth-child(odd) {
    background-color: #fafafa;
  }
}
