@import 'styles/utilities';

.main-form {
  @media(min-width: 600px) {
    width: rem(522);
    margin: rem(60) auto;
  }

  @media(min-width: 800px) {
    margin-top: rem(100);
    margin-bottom: rem(100);
  }

  @media(min-width: 1044px) {
    width: rem(600);
  }

  &__legend {
    margin-bottom: rem(25);
    font-size: em(24);
    font-weight: 500;
  }

  a {
    margin-left: rem(10);
  }
}
