@import 'styles/utilities';

.main-header {
  padding: rem(20);
  border-bottom: rem(1) solid #efefef;
  background-color: #f8f8f8;

  a {
    color: #7d7c7a;

    &:focus,
    &:hover {
      color: #7d7c7a;
    }
  }

  &__container {
    display: flex;
    align-content: center;

    @media(min-width: 1044px) {
      max-width: rem(1044);
      margin-right: auto;
      margin-left: auto;
    }
  }
}
