@import 'styles/utilities';

.page-section {
  text-align: center;

  @media(min-width: 600px) {
    margin-top: rem(150);
    margin-bottom: rem(60);
  }

  @media(min-width: 650px) {
    width: rem(650);
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    margin-bottom: rem(50);
    font-size: em(34);
    font-weight: 400;
  }

  p {
    line-height: 1.5;
  }
}
